/* chatDashboard.css */


.chatItem{
  gap: 10px;
  padding: 5px;
}

.chatInfo{
  display: flex;
  align-items: center;
  height: 100%;
}

.profileImage  {
  image-rendering: optimizeSpeed;
  
}

.content{
  margin-left: 1%;
}

.chatName{
  font-size: 20px;
  margin: 0;
}

.chatExcerpt{
  font-size: 16px;
}

.chatItemContent h2 {
  margin: 0;
  font-size: 16px;
}