
.acc-group {
    width:100%;
}

ion-card h2 {
    margin-bottom: 10px!important;
    font-size:1.0rem!important;
    font-weight:700;
    color:black!important;
}

ion-card-title, ion-card-subtitle {
    color:black!important;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    font-size: 12px!important;
}

ion-accordion-group {
    margin-bottom: 25px!important;
}

ion-accordion  ion-item[slot='header'] {
    --color:white;
    --background:#53aee6!important; 
}

ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background:#f83747!important;
}

ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background:#f83747!important;
}

ul {
    padding-inline-start: 20px!important;
    padding-top:0!important;
}

li {
    font-size:12px;
    padding-top:0px!important;
}

[slot='content'] {
    padding-top:0px!important;
}

.learn {
    color: var(--ion-color-primary);
    font-weight:bold;
}

@media (prefers-color-scheme: dark) {

  ion-card-title,
    ion-card-subtitle {
      color: white !important;
    }
  ion-card h2 {
      color: white !important;
    }
  
}