
.avatarContainer{
  display: flex;
  justify-content: center;
}

.profileAvatar{
  width: 100px;
  height: 100px;
  image-rendering: optimizeSpeed;
}


.profileSkills {
  box-shadow:none!important;
  background-color:transparent!important;
}