/* chat.css */


.message {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 55%;
  width: fit-content;
  padding: 8px;
  clear:both;
  border-radius: 10px;
  --min-height: 20px!important;
  --padding-start: 0px;
  
}

#texts {
  text-align:left;
}

#texts item-native {
  padding-left:0px!important;
}

 .from {
  border: 2px solid #f50057;
  border-radius: 10px;
  align-self: flex-start; /* Align received messages to the left */
  float:left;
  margin-left:3%;
  
}

.sender {
  border: 2px solid #3f51b5;
  align-self: flex-end; /* Align sent messages to the right */
  float:right;
  margin-right:3%;
}



.from-text {
  color: black;
  
}

.sender-text {
  color: black;
}

.bottom {
  flex-grow: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.164);
}


.top {
  border-bottom: 2px solid #ffffff80;
  
  
}
