.chat {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.top{
  flex-grow: 0;
  max-height: 85px;
}

.center{
  flex-grow: 1;
  
}

.message{
  padding: 10px;
}

.sender{
  max-width: 45%;
}

.from{
  max-width: 45%;
}


.from p{
  color: white;
  width: fit-content;
  background-color: #f50057;
  border-radius: 10px;
  padding: 10px;
}


.sender p{
  width: fit-content;
  background-color: #3f51b5;
  border-radius: 10px;
  padding: 10px;
}

.texts{
  display: flex;
  font-display: flex;
  flex-wrap: wrap;
}

.bottom {
  flex-grow: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.164);
}